{% load sphboard_extras %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="/static/style.css" />
  <title>GOIM Community{% block title %} - Uh Yeah !{% endblock %}</title>
  {% block head %}{% endblock %}
</head>


<body>
  <div id="top">
    {% block top %}
      <h1>SpaceCombat 2</h1>
      <h2>Community</h2>
    {% endblock %}
  </div>
  <div id="subhead">Copyright &copy; 2007 by Herbert Poul</div>
  <div id="leftblah">
    <div id="navigation">
      {% block navigation %}
        <ul>
          {% for nav in navigation_left %}
            <li>
              {% ifequal nav.urltype 0 %}
                <a href="{{ urlPrefix }}{{ nav.href }}">{{ nav.label }}</a>
              {% else %}
                <a href="{{ nav.href }}">{{ nav.label }}</a>
              {% endifequal %}
            </li>
          {% endfor %}
        </ul>
      {% endblock %}
    </div>
    {% if navigation_sub %}
      <div id="subnavigation">
        <ul>
          {% block subnavigation %}
          {% endblock %}
        </ul>
      </div>
    {% endif %}
    <div id="userblock">
      {% if user.is_authenticated %}
        You are logged in as {% sphboard_displayUserName user %}<br/>
        <a href="/accounts/logout/">Logout</a>
      {% else %}
        You are not logged in.<br/>
        <a href="/accounts/login/?next={{ request.path|urlencode }}">Login</a><br/>
        <a href="/accounts/register/">Register</a><br/>
      {% endif %}
    </div>
  </div>
  <div id="content">
{% if messages %}
  <ul class="messages">
   {% for message in messages %}
     <li>{{ message }}</li>
   {% endfor %}
  </ul>
{% endif %}
{% block content %}

dumdidum

{% endblock %}
  </div>
</body>
</html>
