
# Copy this file to settings_local.py and adjust the following 
# settings.


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'sctdb.sqlite',
    }
}

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'Make me unique'

CACHE_BACKEND = 'locmem:///'



# You can configure this to make every subdomain refer to it's own community 'Group'
SPH_HOST_MIDDLEWARE_URLCONF_MAP = {
    r'^(?P<groupName>\w+).localhost.*$': { 'urlconf': 'urlconfs.community_urls', },
    '.*': { 'urlconf': 'urlconfs.community_urls',
            'params': { 'groupName': 'example' } },
}

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'handlers': {
        'console': {
            'class': 'logging.StreamHandler',
        },
    },
    'loggers': {
        'sphene': {
            'handlers': ['console'],
            'level': 'DEBUG',
        },
        'django': {
            'handlers': ['console'],
            'level': os.getenv('DJANGO_LOG_LEVEL', 'INFO'),
        },
        'django.db.backends': {
            'handlers': ['console'],
            'level': 'DEBUG'
        }
    },
}
