body {
	background-color: #e1ddd9;
        font-size: 12px;
        font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
        color:#564b47;
        padding: 0px 20px;
        margin:0px;
}

a {
        color: blue;
        text-decoration: none;
}


div#top {
	padding: 10px;
	height: 70px;
        text-align: right;
}

div#top h1 {
        margin: 1px;
}

div#top h2 {
        margin: 2px;
}

div#subhead {
        text-align:right;
        background-color: gray;
        color: #ccc;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 10px;
}
div#leftblah {
	left: 20px;
	width: 200px;
        min-height: 250px;
	margin-top: 0px;
	padding-top: 0px;
        background-color:#ccc;
        padding: 20px;
	position: absolute;
}
div#navigation,
div#subnavigation,
div#userblock {
        margin-top: 20px;
}
div#userblock {
	background-color: #eee;
	border: 1px solid gray;
	padding: 5px;
}
div#navigation ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
}
div#navigation li {
        padding: 0px;
        margin: 0px;
}
div#navigation a {
        font-size: 16px;
        border: 1px solid gray;
        display: block;
        padding: 2px;
        margin-top: 3px;
	background-color: #eee;
	color: #000;
	padding-left: 10px;
}
div#navigation a:hover {
        background-color: #ddd;
}

div#content {
	padding: 20px;
        background-color: #fff;
        overflow: auto;
        min-height: 350px;
	margin-left: 240px;
}




ul.news li {
        padding-bottom: 20px;
}

ul.news .subject {
        font-weight: bold;
}

ul.news .comments {
        padding-top: 5px;
}

.error, .errorlist {
        color: red;
        font-weight: bold;
}
