{% extends "sphene/sphboard/base.html" %}

{% load sphboard_extras %}

{% block content %}
  {% sphboard_displayBreadcrumbsForThread thread %}
  <br/>
  {% if perms.post.change_post %}
    Thread Options: 
      {% if thread.is_sticky %}
        <a href="../../options/{{ thread.id }}/?cmd=removeSticky">Remove Sticky</a>
      {% else %}
        <a href="../../options/{{ thread.id }}/?cmd=makeSticky">Make Sticky</a>
      {% endif %}
      <br/>
  {% endif %}
  <br/>
  <table class="sphboard_post_list">
    {% for post in post_list %}
      <tr>
        <td rowspan="2" class="sphboard_post_authorinfo">
          Posted by<br/>
          {% sphboard_displayUserName post.author %}<br/>
        </td>
        <td>{{ post.postdate|date:"Y-m-d H:i:s" }} - <strong>{{ post.subject|escape }}</strong></td>
      </tr>
      <tr>
        <td class="sphboard_post_body">{{ post.body_escaped }}</td>
      </tr>
    {% endfor %}
  </table>
  <br/><br/>
  
  {% if allowPosting %}
    {% sphboard_displayPostForm thread %}
  {% else %}
    {% if user.is_authenticated %}
      You have no permission to post a reply.
    {% else %}
      Please login to post a reply.
    {% endif %}
  {% endif %}
  <br/><br/>
{% endblock %}
